

/.idea/
/build/
/CorpTrain-Android.iml
/local.properties
/app/app.iml
/ui/ui.iml
/utils/utils.iml
/universalvideoview/build/
/universalvideoview/universalvideoview.iml
/photoviewlibrary/photoviewlibrary.iml
/photoviewlibrary/build/
.gradle/
/httplib/httplib.iml
